@use './modules/colors'

/* global styles START */
body
	margin: 0
	font-family: monospace
	line-height: 1.5rem

ul
	margin: 0
	padding: 0

	li
		list-style: none
/* global styles END */

.App
	display: flex
	height: 100%

	.Form-container, .ToDoList-container
		display: flex
		flex-direction: column
		align-items: center
		height: 100%
		width: 50vw

	.Form-container
		position: sticky
		top: 0
		background-color: #ccc

	.ToDoList-container
		color: colors.$white
		background-color: colors.$primary-background

		h1
			font-size: 2rem
			text-align: center