.ToDo
  display: flex
  border: 1px solid black
  border-radius: 8px
  margin-bottom: 16px

  .ToDo-info
    width: 90%
    border-right: 1px solid black

  .ToDo-remove
    display: flex
    justify-content: center
    align-items: center
    width: 10%
    cursor: pointer

    &:hover
      background-color: grey
    span
      color: red